.heading{
  font-family: $title-font;
  font-weight: 600;
  line-height: 100%;
  margin-bottom: 20px;

  &--sm{
    font-size: 24px;
    @media (min-width: $bp-md){
      font-size: 32px;
    }
  }

  &--md{
    font-size: 30px;
    @media (min-width: $bp-md){
      font-size: 40px;
    }
  }

  &--lg{
    font-size: 36px;
    @media (min-width: $bp-md){
      font-size: 48px;
    }
  }
}