.button{
  margin-right: 20px;
  margin-bottom: 20px;
}

.icons-container{
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.projects-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: $gap;
}