// Foundation
@import "foundation/reset";
@import "foundation/fonts";
@import "foundation/variables";

body{
  font-family: $text-font;
  font-weight: 400;
  font-size: 16px;
}

.page-width{
  max-width: $page-width-m;
  margin-left: auto;
  margin-right: auto;
  padding-left: $page-padding;
  padding-right: $page-padding;

  @media (min-width: 768px){
    max-width: $page-width-d;
  }
}

.no-scroll{
  overflow: hidden;
}

.hidden-desktop{
  @media (min-width: $bp-md){
    display: none;
  }
}

.hidden-mobile{
  @media (max-width: $bp-md-down){
    display: none;
  }
}